In [7]:
from typing import Optional
import pandas as pd

In [31]:
# Example usage
df = pd.DataFrame(
    {
        "Meta": ["meta1", "meta2", "meta3", "meta4", "meta5", "meta6"],
        "A": [1, 2, 3, 4, 5, 6],
        "B": ["a", "b", "c", "d", "e", "f"],
        "C": [10, 20, 30, 40, 50, 60],
    }
)
df

    Meta  A  B   C
0  meta1  1  a  10
1  meta2  2  b  20
2  meta3  3  c  30
3  meta4  4  d  40
4  meta5  5  e  50
5  meta6  6  f  60

In [40]:
def shuffle_features(
    profile: pd.DataFrame, features: list[str], seed: Optional[int] = 0
) -> pd.DataFrame:
    # create copy
    profile = profile.copy()[features]

    # how shuffle everything per row
    for col in profile.columns:
        profile[col] = (
            profile[col].sample(frac=1, random_state=seed).reset_index(drop=True)
        )

    return profile

In [41]:
shuffle_features(profile=df, features=["A", "B", "C"], seed=0)

   A  B   C
0  6  f  60
1  3  c  30
2  2  b  20
3  4  d  40
4  1  a  10
5  5  e  50